@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap');

*{
    margin: 0px;
   
}
/* font size */
body{
    font-family: 'Work Sans', sans-serif;
}

.container {
    width: 960px;
    margin: 0 auto;
    
}

.header{
    background: rgba(255, 144, 14, 0.1);
    

}
.navbar{
    display:flex;
    justify-content: space-between;
    padding-top: 50px;
}
.nav-option ul{
    display: flex;
    list-style: none;
    
}
.nav-option a{
    text-decoration: none;
    color: black;
   
}
.nav-option li{
    padding-right: 20px;
}
/* home title */
.hero-section{
    
    margin-top: 150px;
    /* padding: 0px 200px 0px 200px; */
    width: 100%;
}


.hero{
    text-align: center;
    
}
.hero-descreption{
    font-weight: 700;
    font-size: 50px;
    /* padding:0px 150px 0px 150px ; */
}
.hero-paragraph{
    padding: 0px 70px 0px 70px;
    margin-top: 10px;
    margin-bottom: 25px;
    color: #727272;
}
.hero-button{
    background-color: orangered;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 15px;
    font-size: 15px;
}
.hero-section img{
    width: 100%;
    margin: 70px 0px 20px 0px;
}
/* body- features */
.feature-section{
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 60px;
    align-items: center;
    margin-top: 50px;
}

.features-img{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.features-img img{
    width: 100%;
}
.features-paragraph{
    width: 85%;
}
.feature-p{
    margin: 24px 0px 32px 0px;
    color:#727272;
}
/* feature-head color */
.black{
    color: black;
}
.oranged{
    color: orangered;
}
.feature-head{
color:#727272;
}
/* 2nd features */
.feature-section2{
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 54px;
}
.feature-right img{
    width: 100%;
}
.features-headr2{
    font-size: 40px;
    font-weight: 700;
    border-left: 5px solid orangered;
    margin-left: ;
}
.features-p2{
    font-size: 16px;
    font-weight: 400;
    color: #727272;
    margin: 24px 0px 30px 0px;
}
.feature-head2{
    font-weight: 600;
    font-size: 16px;
    color: #131313;;
}
.feature-p2{
    font-weight: 400;
    font-size: 12px;
    color: #727272
}
.feature-blok{
    background: #FFFFFF;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    margin-bottom: 15px;
    padding: 25px 32px 25px 20px;
}
/* accivment part */
.fact-header{
    margin-bottom: 145px;
    width: 50%;
}
.fact-header h1{
    font-size: 40px;
    font-weight: 700;
    color: #131313;
   
}
.fact-header p{
    font-size: 16px;
    font-weight: 400;
    color: #727272;
    margin-top: 24px;
    margin-bottom: 100px;
}
.accivment-part{
 display: flex;
 justify-content: space-between;
 gap: 20px;


}
.accivment{
    border: 1px solid #FF900E;
    text-align: center;
    padding: 45px 40px 60px 40px;
    border-radius: 8px;
    
}
.accivment h1{
   color: #424242;
   font-weight: 600;
   font-size: 40px;
}
.accivment p{
    color: #727272;
    font-weight: 600;
    font-size: 20px;
}
/* sponsor */
.sopnsor{
    text-align: center;
}
.sopnsor h1{
    color: #131313;
    font-size: 40px;
    font-weight: 700;
}
.sopnsor p{
    font-weight: 400;
font-size: 16px;
color: #727272;
margin-top: 24px;
margin-bottom: 50px;
}
.sopnsor-img{
display: flex;
justify-content: space-between;
-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
filter: grayscale(100%);
gap:100px;
}
.sopnsor-img img{
    width: 100%;
}
/* footer */
.footer{
    background:rgba(255, 144, 14, 0.1);
    text-align: center;
    padding: 38px 0px 38px 0px;   
    font-weight: 400;
    font-size: 20px;
    margin-bottom: 50px;
    color: #424242;
}
/* responsive for samll device */
@media screen and (max-width:576px){
    .container{
        padding:2%;
        width: 95%;
    }
    .navbar{
        flex-direction: column;
    }
    .nav-name{
        margin-bottom: 40px;
    }
    .hero-section{
        margin-top: 50px;
    }
    .hero-paragraph{
        padding: 0px 10px 0px 10px;
    }
    /* feature-section */
    .feature-section{
        grid-template-columns: 1fr;



    }
    .features-paragraph{
        width: 100%;
        text-align: center;
    }
   /* feature-section2 */
   .feature-section2{
        grid-template-columns: 100%;
   }
   .features-p2{
    text-align: center;
   }
   /* facts */
   .fact-header{
    text-align: center;
    margin-bottom: 50px;
    width: 100%;
   }
   .accivment-part{
    flex-direction: column;
   
   }
   /* sponsor */
   .sopnsor-img{
    flex-direction: column;
    gap: 50px;

   }
     
.sopnsor-img img{
    width: 50%;
}
/* footer */
.footer{
    margin-bottom: 0px;
    padding: 20px 0px 20px 0px;
}
}
/* responsive for medium device */

@media screen and (min-width:577px) and (max-width:768px){
    .container{
        padding:2%;
        width: 95%;
    }
    /* navbar */
    .nav-name{
        font-size: 18px;
       
    }
    .navbar{
        align-items: center;
    }
    .nav-option ul li{
        font-size: 18px;
       

    }
    .hero-section{
        margin-top: 80px;
    }
    .hero-section img{
        
        padding: 0px;
        width: 97%;
       
    }
    /* feature section */
    .feature-section{
        margin-top: 20px;
        gap:30px;
    }
    /* feature2 */
    .feature-section2{
        grid-template-columns: 100%;
        padding:50px;
    }
    .feature-right img{
        display: none;
    }
    /* facts */
    .fact-header{
        text-align: center;
        margin-bottom: 50px;
        width: 100%;
       }
    .accivment-part{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        width: 97%;
        /* justify-items: center; */
    }
    .accivment{
        padding: 30px 20px 30px 20px;
    }
    .accivment h1 {
        
        font-weight: 500;
        
    }
    /* sponsor */
    .sopnsor-img{
        gap: 50px;
    }
    /* footer */
    .footer{
        margin-bottom: 25px;
}
}